[submodule "dockers/fe-app"]
	path = dockers/fe-app
	url = https://github.com/Varshithknaik/docker-fe-sg.git
[submodule "dockers/docker-complex"]
	path = dockers/docker-complex
	url = https://github.com/Varshithknaik/docker-complex.git
